{% extends "base.html" %} {% block title %}Identify (New Model){% endblock %} 

{% block content %}
<div>
    <br>
    <!-- Note for users -->
    <div class="alert alert-info text-center" role="alert">
        <strong>Note:</strong> This feature is under development. Come back soon for the working version!
    </div>

    <!-- Back Button -->
    <form method="GET" action="/identify">
        <button type="submit" class="btn btn-secondary">Back</button>
    </form>

    <form id="label-identify-form" enctype="multipart/form-data" method="POST" action="" class="mb-3">
        <div>
           
            <h2 class="display-6 text-center my-3">Risk Calculator</h2>

            <div class="mb-3">
                <label for="label-image" class="form-label">Input Information Below:</label>
                <input class="form-control" type="text" id="Medication" name="Medication" placeholder="Medication" required><br>
                <input class="form-control" type="text" id="Age" name="Age" placeholder="Age" required><br>
                <input class="form-control" type="text" id="Sex" name="Sex" placeholder="Sex" required><br>
                <input class="form-control" type="text" id="Disease" name="Disease" placeholder="Disease" required><br>
                <input class="form-control" type="text" id="Ethnicity" name="Ethnicity" placeholder="Ethnicity" required>
            </div>

            <button type="submit" disable class="btn btn-start" name="submit-button1" value="label" onclick="performPrediction()">Submit</button>
            <br><br>
            <div class=" position-relative rounded shadow {{ 'hidden' if result is none or result|length == 0 }}" 
            style="background-color: #CEE3EA; {{ 'padding: 20px;' if result is not none and result|length > 0 }}" id="result">
            <pre>{{ result | safe }}<br><br>{{ trials | safe }}<br><br>{{ source | safe }}</pre>
            </div>
        </div>
    </form>   

    <br>

     <!-- Calculating Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="calculatingModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Processing  &nbsp;</h5>
                    <div class="spinner-border" role="status" style="color:#CEE3EA">
                        <span class="visually-hidden"></span>
                    </div>
                </div>
                <div class="modal-body">
                    <p>Thank you for your patience.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function performPrediction() {
        var calculatingModal = new bootstrap.Modal(document.getElementById('calculatingModal'));
        calculatingModal.show();
        // Set up a MutationObserver to watch for changes in the 'hidden' class of the result div
        var resultDiv = document.getElementById('result');
        var observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if (!resultDiv.classList.contains('hidden')) {
                    // Once the result is displayed, hide the modal and disconnect the observer
                    calculatingModal.hide();
                    observer.disconnect();
                }
            });
        });

        var config = { attributes: true, childList: false, characterData: false, attributeFilter: ['class'] };
        var target = document.getElementById('result');
        observer.observe(target, config);

        
    }

    window.onload = function() {
        if (!document.getElementById('result').classList.contains('hidden')) {
            var calculatingModal = bootstrap.Modal.getInstance(document.getElementById('calculatingModal'));
            if (calculatingModal) {
                calculatingModal.hide();
            }
        }
        if (!document.getElementById('flash-messages').classList.contains('hidden')) {
            var calculatingModal = bootstrap.Modal.getInstance(document.getElementById('calculatingModal'));
            if (calculatingModal) {
                calculatingModal.hide();
            }
        }
    };
    
    window.onload = function() {
        if(window.location.hash) {
            var hash = window.location.hash.substring(1); // Get the hash, minus the '#'
            var targetElement = document.getElementById(hash);
            if(targetElement) {
                targetElement.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });
            }
            history.pushState("", document.title, window.location.pathname + window.location.search);
        }
    };
</script>

{% endblock %}